html{
	font-size: 24px;
	font-family:'Assistant', sans-serif;}

	body{
		width:750px ;
		margin:auto;}

.header{
	background-color: #2d7053;
	height: 10rem;
	color: #ffffff;}

.krug{
	border-radius: 50%;
	width: 141px;
	height: 141px;
	background-color: #ffffff;
	margin: 47px 0 47px 38px;}

.header > div{
float: left;}

.header > div:nth-child(3){
	float: right;}

.spisok{
	list-style: none;
	margin-top: 52px;
	/* margin-bottom: 52px; */
	margin-left: 58px;
	width: 141px;
  height: 141px;}

.item{
margin-top: 84px;
margin-right: 44px;}

.item > div{
	width: 84px;
	height: 14px;
	background-color: #ffffff;
	border-radius: 8px;
	margin-bottom: 14px;}

.img /*Psychology Room*/{
background-image: url(../img/testroom.png);
/*background-image: url(/img/Прямоугольник\ 3@1X.png );/*Shadow image Psychology Room*/ 
/*ОБРАТИТЬ ВНИМАНИЕ НА СТОКУ ВЫШЕ, ЭТО ПОПЫТКА СДЕЛАТЬ КАРТИНКУ С НАЛОЖЕНЫМ НА НЕЕ ПОЛУПРОЗРАЧНЫМ ФОНОМ КАК НА МАКЕТЕ*/
width: 750px;
height: 466px;}

.button{/*button img__1*/
	width: 371px;
	height: 74px;
	background-color: #cb9223;
	/* color: #ffffff; */
	margin-left: 205px;
  margin-top: 345px;
  position: absolute;}

.button a{
	text-align:center;
	text-decoration: none;
	color: #ffffff;
	padding: 22px 40px 29px 40px;
  display: block;}

body > div:nth-child(3) > img{/*Face PHoto*/
	width: 247px;
	height: 247px;
	border-radius: 50%;
	margin: 73px 0 60px 44px;}

.name,.spe{
	display: inline-block;
	position:absolute;}

.name{
	margin: 134px 0 29px 75px;
	font-size: 1.5rem;
width: 10rem;}

.spe{
	margin:190px 141px 140px 73px;
	font-size: 1rem;
	width: 260px;}

div:nth-child(4){
	margin-left: 44px;} 

div:nth-child(4) > div:nth-child(1){
	margin-bottom: 46px;
	width: 625px;}

div:nth-child(4) > div:nth-child(2){
	font-family:'Assistant', sans-serif;
	font-size: 1.5em;
	margin-bottom: 43px;}

div:nth-child(4) > div.end_list-item{
margin-bottom: 44px;}

/* .button2{
	width: 371px;
	height: 74px;
	background-color: #cb9223;
	position: absolute;
} */

.button2 a{
	text-decoration: none;
	color: #ffffff;
	padding: 24px 40px 29px 40px;
	text-align: center;
	display: block;
	font-size: 1rem;}

div:nth-child(4) > div:last-child{
	width: 371px;
	height: 74px;
	background-color: #cb9223;
	margin-left: 174px;
	margin-bottom: 50px;
	/*Этот вариант лучше для расположения кнопки-ссылки*/}

/*Block FOOTER*/
.footer{
	width: 750px;
	height: 153px;
	background-color: #888888;
}

.krug2{
width: 96px;
height: 96px;
background-color: #ffffff;
border-radius: 50%;
margin: 29px auto 28px 45px;
position: absolute;}

.adres a,.tel a,.mail a{
	text-decoration: none;
	position: absolute;
	color: #ffffff;
	font-size: 0.75rem;}
	

.adres a{
	margin: 102px 0 34px 325px;
	width: 9rem;
}

.tel a{
	width: 5.5rem;
	margin: 56px 44px 27px 570px;}

	.mail a{
	margin: 98px 44px 38px 510px;
width: 144px;}

/* div.footer > div:nth-child(2),div.footer > div:nth-child(3),div.footer > div:nth-child(4){
color: #ffffff;
text-decoration: none;
text-align: right; 
position: absolute;
display: block;
float: right 
;
}

 div.footer > div:nth-child(3){ 

}

div.footer > div:nth-child(4){  */



